@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
 </div>


<div id="all-product">

    <button class=" btn btn-link all-products"> Get All Products</button>

    <ul id="enlist">

        <li>ok</li>
        
    </ul>
</div>
